html {
  overflow-x: hidden;
}

.App {
  width: 100vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  overflow-x: hidden;
  /*font-size: 1rem;*/
}

/* Element styling */
h1, h2, h3 {
  font-family: 'Gill Sans', sans-serif;
  font-weight: bold;
  margin-bottom: 10px;
}
h1 {
  font-size: 1.5rem;
}
h2 {
  margin-top: 15px;
  font-size: 1.25rem;
}
button {
  color: white;
  padding: 8px;
  border-radius: 10px;
  border: 0;
  filter: brightness(100%);
  transition: 0.25s;
  background-color: #698088;
  cursor: pointer;
}
button:hover{
  filter: brightness(85%);
  transition: 0.25s;
}

input {
  padding: 5px;
  width: calc(100% - 10px);
  border: 0;
  border-radius: 5px;
  /*transition: 0.25s;*/
}
input:focus{
  outline: none ;
  border: 2px solid #909090;
  /*transition: 0.25s;*/
}


/* Section styling */
.leftSide {
  /*color: white;*/
  overflow-x: hidden;
  width: 20%;
  position: fixed;
  padding: 25px;
  background-color: #ebebeb;
  height: calc(100svh - 20px);
  /*border: black 2px solid;*/
  /*box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.35);*/
  /*border-radius: 0 30px 30px 0;*/
  /*overflow-y: scroll;*/
  /*direction: rtl;*/
}
.rightSide {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  margin-left: calc(20% + 50px);
  width: calc(100svw - 25%);
  padding: 0 25px 50px 25px;
}
.innerWrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  /*width: 600px;*/
}

.result {
  font-size: 0.8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #c3c3c3;
  padding: 10px;
  /*margin-left: 15px;*/
  /*margin-right: 15px;*/
}
.result button {
  margin-left: 5px;
}

.resultsInnerDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
/*.resultsInnerDiv div {*/
/*  justify-content: left;*/
/*}*/

.resultSentences {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 150px;
  padding-right: 150px;
  /*align-items: center;*/
}

.sentenceInputs {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.sentenceInputs input {
  margin-bottom: 5px;
}

.configButtons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  transition: 0.25s;
}
.configButtons button {
  font-size: 0.65em;
  /*width: 100px;*/
  height: 50px;
}

.sentenceHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.sentenceHeader button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  margin-left: 5px;
  /*padding: 2px 5px 2px 5px;*/
  border-radius: 50%;
}


/* Matrix styling */
td {
  font-size: 1.25rem;
  width: 10px !important;
  height: 10px !important;
  padding: 0;
}
tr td {
  padding: 5px !important;
}
.css-1jb5lza {
  /*writing-mode: vertical-rl;*/
  height: 6px !important;
  padding: 0 !important;
  transform: rotate(0deg) !important;
  -webkit-writing-mode: inherit !important;
}
.css-2tza7a-MuiGrid-root {
  padding: 5px !important;
}
.resultTitle {
  margin: 10px 0 0 0;
}

.runBtn {
  width: 100%;
  font-weight: bold;
  padding: 15px;
  background-color: #39b839;
}

.simBtns button:nth-child(2) {
  margin-left: 5px;
}

.log {
  padding: 10px;
  font-size: 0.7rem;
  background-color: white;
  /*border: 1px solid #698088;*/
  border-radius: 10px;
  overflow-y: auto;
  height: 75px;
  white-space: pre-wrap;
  margin-bottom: 25px;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


/*Tooltip*/
.buttonToolTip {
  position: relative;
  display: inline-block;
  z-index: 1;
  border-bottom: 1px dotted black;
}

.buttonToolTip .toolTipText {
  white-space: pre-line;
  visibility: hidden;
  opacity: 0;
  width: 200px;
  background-color: #353535;
  color: #fff;
  border-radius: 6px;
  padding: 10px;

  /* Position the tooltip */
  position: absolute;
  top: 110%;
  left: 50%;
  margin-left: -100px;
  transition: 0.25s;
  text-align: start;
}

.toolTipText {
  color: #fff;
  font-size: 0.8rem;
  z-index: 3 !important;
}

.buttonToolTip:hover .toolTipText {
  visibility: visible;
  opacity: 1;
  transition: 0.25s;
}

.description {
  text-justify: inter-word;
  font-size: 0.75rem;
  margin-bottom: 15px;
}

.gsmGraphWindow {
  /*zoom: 0.75; -moz-transform: scale(0.75); -moz-transform-origin: 0 0;*/
  width: calc(100% - 100px);
  height: 500px;
  margin: 50px;
}

.linkBtn {
  background-color: #baced6;
  transition: 0.25s;
}

